<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:utext=#{admin.title}></title>
</head>
<body>
	<h1 th:utext=#{admin.heading}></h1>
	
	 <p th:text="'Hello, ' + ${name} + '!'" />

	<a href="/admin/">
		<button> Back to Admin Home </button>
	</a>
	
	<a href="/admin/admin-createleavetype">
		<button> Create Leave Type </button>
	</a>

	<a href="/admin/admin-viewleavetype">
		<button> View Leave Type </button>
	</a>
	
		<a href="/admin/admin-updateleavetype">
		<button> Update Leave Type </button>
	</a>
	
		<a href="/admin/admin-deleteleavetype">
		<button> Delete Leave Type </button>
	</a>




</body>
</html>