<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:utext=#{adminlogin.title}></title>
</head>
<body>
	<header th:insert="fragments/general.html::header"></header>
	<div th:insert="fragments/general.html::navigationbar"></div>
	<!-- <p th:if="${loginError}" class="error">Wrong user or password</p> -->
	<form th:object=${admin} th:action="@{/employee/adminlogin}" method="post">
		<!-- <fieldset>
        <input type="hidden" th:field="*{id}">  
        </fieldset> -->
		<br> <br>
		<fieldset>
			Username: <input type="text" th:field="*{name}">
		</fieldset>


		<fieldset>
			Password: <input type="password" th:field="*{password}">
		</fieldset>

		<button type="submit">Log in</button>

	</form>
	<div th:insert="fragments/general.html::footer"></div>

</body>
</html>