<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:utext=#{admin.title}></title>
</head>
<body>
	<h1 th:utext=#{admin.heading}></h1>

	<a href="/employee/home">
		<button> Sign out</button>
	</a>
	
	<a href="/employee/admin-blockleave">
		<button> Set block leave</button>
	</a>

<a href="/employee/admin-create">
		<button> Create Employee</button>
	</a>
	
<a href="/employee/dashboard">
		<button> Manage&View Employee</button>
	</a>
	
	<a href="/employee/admin-createleavetype">
		<button> Create Leave Type</button>
	</a>
	
		<a href="/employee/admin-manageleavetype">
		<button> Manage&View Leave Type</button>
	</a>
	
	
</body>
</html>