<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:utext=#{employeelogin.title}></title>
</head>
<body>
	<h1 th:utext=#{employeelogin.heading}></h1>







	<!-- <p th:if="${loginError}" class="error">Wrong user or password</p> -->
	<form th:object=${employee} th:action="@{/employee/employeelogin}"
		method="post">
		<!-- <fieldset>
        <input type="hidden" th:field="*{id}">  
        </fieldset> -->
		<fieldset>
			Username: <input type="text" th:field="*{name}">
		</fieldset>


		<fieldset>
			Password: <input type="password" th:field="*{password}">
		</fieldset>

		<button type="submit">Log in</button>

	</form>




	<a href="/employee/home">
		<button>Back</button>
	</a>



</body>
</html>