<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error Page</title>
</head>
<body>
	<header th:insert="fragments/general.html::header"></header>
	<div th:insert="fragments/general.html::navigationbar"></div>
	<h1 th:utext=#{error.heading}></h1>
	<h3 style="color: red" th:text="${errorMsg}"
		th:if="${not #strings.isEmpty(errorMsg)} "></h3>


	<a href="/employee/login">
		<button>Employee Login</button>
	</a>

	<a href="/employee/adminlogin">
		<button>Admin Login</button>
	</a>
<div th:insert="fragments/general.html::footer"></div>
</body>
</html>