<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:utext=#{leaves.title}></title>
</head>
<body>
	<header th:insert="fragments/general.html::header"></header>
	<div th:insert="fragments/general.html::navigationbar"></div>
	

<h1 th:text= "Welcome + ' ' + ${session.user.name}"></h1>


	<!-- <a href="/leaves/apply">
		<button> Apply </button>
	</a>
	
<a href="/leaves/manage">
		<button> Manage </button>
	</a>
	
	<a href="/leaves/cancel">
		<button> Cancel </button>
	</a>
	
	<a href="/leaves/history">
		<button> History </button>
	</a>
	
	<a href="/leaves/generate-report">
		<button> Generate Report </button>
	</a>
	
	<a href="/leaves/movement-register">
		<button> Movement Register </button>
	</a> -->

	

</body>
</html>